*{
    margin: 0;
    font-family: Poppins;
}
body{
    background-color: white;
}

header{
    background-color: #32676d;
    text-transform: uppercase;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

button{
    text-transform: uppercase;
    font-weight: 600;
    background-color: #01a0da;
    border-style: none;
    color: white;
    border-radius: 2px;
    margin-left: 20px;
    height: 30px;
    width: 100px;
}

p{
    text-transform: uppercase;
}

.container{
    display: grid;
    justify-content: center;
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.container1{
    display: grid;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
    justify-content: center;
    gap: 20px 20% ;
}

#textfront{
    font-size: 25px;
    font-weight: bold; 
}

.box1{
    grid-column: span 3;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}


.box7, .box8, .box9{
    margin-top: 0px;
}

.box8{
    grid-column: span 3;
    margin-top: 10px;
}

.box9{
    margin-top: 10px;
}

.box10{
    grid-column: span 3;
    text-align: center;
    margin-top: 10px;
}

input{
    border-style: none;
    border-radius: 3px;
}

select{
    width: 200px;
    border-style: none;
}

.button1{
    width: 200px;
    height: 50px;
    margin-bottom: 38px;
}
